@* Editar Categoria *@
@model CategoryDto
@{
    Layout = "_AdminLayout";
}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="form-senac">
            <form asp-action="EditCategory" asp-route-id="@Model.Id" method="post">
                <div class="mb-3">
                    <label class="form-label">Nome da Categoria</label>
                    <input name="Name" class="form-control" value="@Model.Name" required />
                </div>
                <hr class="my-4" />
                <div class="d-flex justify-content-between">
                    <a asp-action="Categories" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary-senac">
                        <i class="bi bi-check-lg"></i> Salvar Alterações
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>